---
import Layout from '../../layouts/Layout.astro';
import LoginForm from '../../components/LoginForm';
import { getLangFromUrl, useTranslations } from '../../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={`${t('nav.login')} - Uapa Empleos`}>
  <div class="min-h-[80vh] flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full">
      <LoginForm lang={lang} client:load />
    </div>
  </div>
</Layout>
